In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

In [2]:
digitNum = 20

colTypes = {'int':'int','binary':'string','isPrime':'int'}
df = pd.read_csv(f"../../Raw Data/binaryPrime_{digitNum}.csv", dtype = colTypes)
df.head()

   int                binary  isPrime
0    0  00000000000000000000        0
1    1  00000000000000000001        0
2    2  00000000000000000010        1
3    3  00000000000000000011        1
4    4  00000000000000000100        0

In [3]:
df

             int                binary  isPrime
0              0  00000000000000000000        0
1              1  00000000000000000001        0
2              2  00000000000000000010        1
3              3  00000000000000000011        1
4              4  00000000000000000100        0
...          ...                   ...      ...
1048571  1048571  11111111111111111011        1
1048572  1048572  11111111111111111100        0
1048573  1048573  11111111111111111101        1
1048574  1048574  11111111111111111110        0
1048575  1048575  11111111111111111111        0

[1048576 rows x 3 columns]

In [4]:
def splitBinaryIntoColumns(binaryString):
    binaryList = list(binaryString)
    return(binaryList)

In [5]:
df_b = pd.DataFrame(df['binary'].apply(splitBinaryIntoColumns))

In [6]:
binaryCols = []
for i in range(digitNum,0,-1):
    binaryCols.append(f"2^{i-1}")

df[binaryCols] = pd.DataFrame(df_b.binary.to_list(),columns=binaryCols).astype('int')
df

,int,binary,isPrime,2^19,2^18,2^17,2^16,2^15,2^14,2^13,...,2^9,2^8,2^7,2^6,2^5,2^4,2^3,2^2,2^1,2^0
0,0,00000000000000000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,00000000000000000001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,00000000000000000010,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,00000000000000000011,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,4,00000000000000000100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,1048571,11111111111111111011,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
1048572,1048572,11111111111111111100,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
1048573,1048573,11111111111111111101,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1
1048574,1048574,11111111111111111110,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1048575,1048575,11111111111111111111,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [7]:
# df = df[df['int'].astype('str').str.strip().str[-1].isin(['1','3','7','9'])]
df

,int,binary,isPrime,2^19,2^18,2^17,2^16,2^15,2^14,2^13,...,2^9,2^8,2^7,2^6,2^5,2^4,2^3,2^2,2^1,2^0
0,0,00000000000000000000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,00000000000000000001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,00000000000000000010,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,00000000000000000011,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,4,00000000000000000100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048571,1048571,11111111111111111011,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,1
1048572,1048572,11111111111111111100,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
1048573,1048573,11111111111111111101,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,1
1048574,1048574,11111111111111111110,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
1048575,1048575,11111111111111111111,0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [8]:
X_cols = [col for col in df.columns if '2^' in col]
y_cols = 'isPrime'
X = df[X_cols]
y = df[y_cols]

In [9]:
from imblearn.under_sampling import RandomUnderSampler

undersample = RandomUnderSampler(sampling_strategy='majority')
X, y = undersample.fit_resample(X, y)

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [11]:
model = Sequential()
model.add(Dense(128, input_dim=digitNum, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [12]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [13]:
model.fit(X_train, y_train, epochs=5, validation_data=(X_test, y_test))

Epoch 1/5
3845/3845 [==============================] - 8s 2ms/step - loss: 0.4572 - accuracy: 0.7702 - val_loss: 0.4566 - val_accuracy: 0.7687
Epoch 2/5
3845/3845 [==============================] - 7s 2ms/step - loss: 0.4532 - accuracy: 0.7716 - val_loss: 0.4573 - val_accuracy: 0.7687
Epoch 3/5
3845/3845 [==============================] - 9s 2ms/step - loss: 0.4528 - accuracy: 0.7716 - val_loss: 0.4575 - val_accuracy: 0.7687
Epoch 4/5
3845/3845 [==============================] - 8s 2ms/step - loss: 0.4525 - accuracy: 0.7716 - val_loss: 0.4567 - val_accuracy: 0.7687
Epoch 5/5
3845/3845 [==============================] - 7s 2ms/step - loss: 0.4522 - accuracy: 0.7716 - val_loss: 0.4567 - val_accuracy: 0.7687